/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Mar, 2023, 2:25:43 PM
    Author     : wjahoward
*/
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.create-member-form {
    background-color: #f2f2f2; 
    max-width: 400px; 
    margin: auto; 
    padding: 1em;
}

.form-create-member-heading {
    color: #6b6b6b;
    font-size: 1.5rem;
}

.panel-age {
    margin-top: 10px; 
    font-size: 12px;
}

#member-form\:create-member-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 1.5em auto;
}