#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: white;
    text-align: center;
    height: 4em;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #f7f7f6;
    margin: 0;
    padding: 0;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: #333;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: #333;
    font-weight : bold;
    text-decoration : underline;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: auto;
    width: 100%;
}

.header-footer {
    background-color: #ffffff;
    color: #424242;
}

.footer-p {
    margin-top: 1.5em;
}

.menu-icon {
    margin-top: 0.6em; 
    margin-right: 1em;
}