body {
    background-color: #f7f7f6;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000; 
    margin: 0;
    padding: 0;
}

.ui-menuitem-link.ui-state-hover {
    background-color: transparent;
}

.create-member-button, #test-form\:lend-book-button {
    background-color: #007ad9;
    color: #fff;
}

#member-form\:command-button-ok, #test-form\:command-button-ok, #return-form\:command-button-ok {
    background-color: #4CAF50;
    color: #FFFFFF;
}

#member-form\:command-button-ok {
    margin-left: 7em;
}

#search-book-form\:dt-books_data {
    text-align: center;
}