/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Feb, 2023, 12:28:19 PM
    Author     : wjahoward
*/
.login-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f6;
}

.form-container {
    width: 18em;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
}

.login-input-container {
    text-align: center;
}

.form-signin-heading {
    color: #6b6b6b;
}

.login-button {
    margin-left: 4.8em;
    background-color: #ADD8E6;
    color: #FFFFFF;
}